$bg-white:white;
$bg-black:#33373d;
$bg-red:#CD5353;
$bg-gray:#efefef;



$color-black : black;
$color-white: white;
$color-gray:#777777;
$color-gray-6:#666666;
$color-gray-menu:#85878b;
$color-gray-9:#999999;
$color-red:#CD5353;




$pd-0: 5px;
$pd-1: 10px;
$pd-2: 20px;
$pd-3:30px;
$pd-4:4%;
$pd-5:7%;

$mg-1:10px;
$mg-2:20px;
$mg-3:30px;
$mg-4:40px;
$mg-5:50px;
$mg-6:200px;

$fs-0:13px;
$fs-1:15px;
$fs-2: 17px;
$fs-3:20px;
$fs-4:30px;
$fs-5:40px;

$fw-bold:bold;
$fw-normal:normal;